trunk/faccioshopping/faccioshopping-war/src/conf/xml-resources/web-service-references/faccioregaliWebservice/wsdl/localhost_8080/faccioregali-war/faccioregaliWebservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="faccioregaliWebservice">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://localhost:8080/faccioregali-war/faccioregaliWebservice?xsd=1" />
</xsd:schema>
</types>
<message name="ricercaListaRegaliByEmail">
<part name="parameters" element="tns:ricercaListaRegaliByEmail" />
</message>
<message name="ricercaListaRegaliByEmailResponse">
<part name="parameters" element="tns:ricercaListaRegaliByEmailResponse" />
</message>
<message name="ricercaUtenteByEmail">
<part name="parameters" element="tns:ricercaUtenteByEmail" />
</message>
<message name="ricercaUtenteByEmailResponse">
<part name="parameters" element="tns:ricercaUtenteByEmailResponse" />
</message>
<message name="ricercaListaAmiciByKeyword">
<part name="parameters" element="tns:ricercaListaAmiciByKeyword" />
</message>
<message name="ricercaListaAmiciByKeywordResponse">
<part name="parameters" element="tns:ricercaListaAmiciByKeywordResponse" />
</message>
<message name="ricercaUtenteById">
<part name="parameters" element="tns:ricercaUtenteById" />
</message>
<message name="ricercaUtenteByIdResponse">
<part name="parameters" element="tns:ricercaUtenteByIdResponse" />
</message>
<message name="ricercaListaRegaliByIdAmico">
<part name="parameters" element="tns:ricercaListaRegaliByIdAmico" />
</message>
<message name="ricercaListaRegaliByIdAmicoResponse">
<part name="parameters" element="tns:ricercaListaRegaliByIdAmicoResponse" />
</message>
<portType name="faccioregaliWebservice">
<operation name="ricercaListaRegaliByEmail">
<input wsam:Action="http://webservices/faccioregaliWebservice/ricercaListaRegaliByEmailRequest" message="tns:ricercaListaRegaliByEmail" />
<output wsam:Action="http://webservices/faccioregaliWebservice/ricercaListaRegaliByEmailResponse" message="tns:ricercaListaRegaliByEmailResponse" />
</operation>
<operation name="ricercaUtenteByEmail">
<input wsam:Action="http://webservices/faccioregaliWebservice/ricercaUtenteByEmailRequest" message="tns:ricercaUtenteByEmail" />
<output wsam:Action="http://webservices/faccioregaliWebservice/ricercaUtenteByEmailResponse" message="tns:ricercaUtenteByEmailResponse" />
</operation>
<operation name="ricercaListaAmiciByKeyword">
<input wsam:Action="http://webservices/faccioregaliWebservice/ricercaListaAmiciByKeywordRequest" message="tns:ricercaListaAmiciByKeyword" />
<output wsam:Action="http://webservices/faccioregaliWebservice/ricercaListaAmiciByKeywordResponse" message="tns:ricercaListaAmiciByKeywordResponse" />
</operation>
<operation name="ricercaUtenteById">
<input wsam:Action="http://webservices/faccioregaliWebservice/ricercaUtenteByIdRequest" message="tns:ricercaUtenteById" />
<output wsam:Action="http://webservices/faccioregaliWebservice/ricercaUtenteByIdResponse" message="tns:ricercaUtenteByIdResponse" />
</operation>
<operation name="ricercaListaRegaliByIdAmico">
<input wsam:Action="http://webservices/faccioregaliWebservice/ricercaListaRegaliByIdAmicoRequest" message="tns:ricercaListaRegaliByIdAmico" />
<output wsam:Action="http://webservices/faccioregaliWebservice/ricercaListaRegaliByIdAmicoResponse" message="tns:ricercaListaRegaliByIdAmicoResponse" />
</operation>
</portType>
<binding name="faccioregaliWebservicePortBinding" type="tns:faccioregaliWebservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="ricercaListaRegaliByEmail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ricercaUtenteByEmail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ricercaListaAmiciByKeyword">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ricercaUtenteById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ricercaListaRegaliByIdAmico">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="faccioregaliWebservice">
<port name="faccioregaliWebservicePort" binding="tns:faccioregaliWebservicePortBinding">
<soap:address location="http://localhost:8080/faccioregali-war/faccioregaliWebservice" />
</port>
</service>
</definitions>